.mynav-font{
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.lobster-font{
  font-family: 'Lobster', cursive;
}

.head-font{
  font-family: 'Varela Round', sans-serif;
}

/* home */

#home{
  height:35rem;
  background:linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ), url('./components/pics/home.jpg')no-repeat center center/cover;
  color: white;
}

.mylogo{
  filter: invert(100%);
  height: 10rem;
    margin: auto;
    display: block;
}

.mynav-txt{
  font-size: 1.18rem;
}

.mybtn-1{
  margin: auto;
  display: block;
  background-color: white;
  color: #efa436;
  font-weight: bold;
  border: 2px solid #efa436;
  border-radius: 7px;
  padding: 4px 12px;
  margin-right: 25rem;
}

.mybtn-1:hover{
  background-color: #efa436;
  color: white;
}

.myhead-1{
  letter-spacing: 2px;
}

.myhead-2{
  font-family: 'Righteous', cursive;
  font-size: 4rem;
}

/* About */

#about{
  position: relative;
}

.myhead-3{
  color: #ff3b00;
  font-size: 3rem;
}

#about-box{
  background-color: white;
}

.coach-pic{
  width: 35rem;
}

#dummy-div-1{
  position: absolute;
  top: 4rem;
  left: 3rem;
  background-color: yellow;
  width: 11rem;
  height: 9rem;
  z-index: -100;
}
#dummy-div-2{
  position: absolute;
  top: 13rem;
  left: 31rem;
  background-color: #91f0ff;
  width: 49rem;
  height: 19rem;
  z-index: -100;
}

.social{
  font-size: 22px;
  margin: 1px 6px;
  color:#ff3b00;
}

.social:hover{
  cursor:pointer;
}