.mynav-font{
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.lobster-font{
  font-family: 'Lobster', cursive;
}

.head-font{
  font-family: 'Varela Round', sans-serif;
}

#home{
  height:35rem;
  background: url('./components/pics/home.jpg')no-repeat center center/cover;
  color: black;
}

.mylogo{
  /* filter: invert(100%); */
  height: 10rem;
    margin: auto;
    display: block;
}

.mynav-txt{
  font-size: 1.18rem;
}

.mybtn-1{
  margin: auto;
  display: block;
  background-color: white;
  color: #efa436;
  font-weight: bold;
  border: 2px solid #efa436;
  border-radius: 7px;
  padding: 4px 12px;
  margin-right: 25rem;
}

.mybtn-1:hover{
  background-color: #efa436;
  color: white;
}

.myhead-1{
  letter-spacing: 2px;
}

.myhead-2{
  font-family: 'Righteous', cursive;
  font-size: 4rem;
}